*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}

.container{
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container form{
    width: 100%;
}

form h2{
    text-align: center;
    margin-bottom: 10%;
}

.form-control{
    position: relative;
    margin-bottom: 20px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
}

button{
    width: 100%;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.enter-btn{
    background-color: #2ecc71;
}

.forgot-password-link{
    text-decoration: none;
    color: blue;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}

.registration-btn{
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 70%;
    background-color: purple;
}

button:hover{
    background-color: #295580;
}

.form-control .icon{
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    font-size: 20px;
    color: transparent;
    pointer-events: none;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.success .icon{
    color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.error .icon,
.form-control.error input::placeholder{
    color: #e74c3c;
}

@media screen and (max-width: 920px) {

    .container img{
        display: none;
    }

    .container form{
        width: 100%;
    }
}