{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/cabinet-style.css">
{% endblock %}

{% block content %}
    <div class="content-zone">

        <div class="user-info">
            <b>User Id: </b>{{ user_id }} <br />
            <b>Username: </b>{{ username }} <br />
            <b>Email: </b>{{ email }}
        </div>

        <button onclick="logout()">Logout</button>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/cabinet-script.js"></script>
{% endblock %}