<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/static/css/cabinet-style.css">
</head>
<body>

    <nav class="navbar">
        
        <nav class="navbar-menu">
            <button type="button" onclick="redirectToFeedPage()">Новости</button>
            <button type="button" onclick="redirectToUserCabinet()">Личный кабинет</button>
            <button type="button" onclick="logout()" class="logout-btn">Выйти</button>
        </nav>
    
    </nav>

    <div class="content-zone">

        

        <div class="user-info">
            <b>User Id: </b>{{ user_id }} <br />
            <b>Username: </b>{{ username }} <br />
            <b>Email: </b>{{ email }}
        </div>

        <button onclick="logout()">Logout</button>

    </div>

    <script>

        async function redirectToUserCabinet() {
            document.location.href = '/user/me';
        }

        async function redirectToFeedPage() {;
            document.location.href = '/feed'
        }

         async function logout() {
            alert( document.cookies );
            const response = await fetch("/user/logout", {
            method: "POST",
            headers: {"Accept": "application/json", "Content-Type": "application/json"}})
            document.location.href = '/user/login';
        }
        
    </script>

</body>
</html>