{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/feed-style.css">
{% endblock %}

{% block content %}
    <div class="create-post-block">
        <textarea maxlength="450" placeholder="Напишите свой пост..." id="new-post-text"></textarea>
        <button class="public-btn" onclick="send_post()">Опубликовать</button>
    </div>

    <div class="posts">

        {% for post in posts %}
            <div class="post" id="{{ post.post_id }}">
                <div class="post-content">

                    <div class="post-header">
                        <div class="avatar"></div>
                        <span class="author"><b>{{ post.author_username }}</b></span>
                        <span class="time">{{ post.created_at }}</span>
                    </div>

                    <div class="post-text">
                        {{ post.text }}
                    </div>

                    {% if post.author_id == current_user_id %}
                        <button onclick="delete_post({{post.post_id}})" class="delete-post-btn" type="button">Удалить</button>
                    {% endif %}

                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block scripts %}
    <div id="userData" data-id="{{ current_user_id }}"></div>
    <script src="/static/js/feed-script.js"></script>
{% endblock %}