<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>feed</title>
</head>
<body>



    Author: <br />
    <input type="text" name="author" id="author" /> <br />
    Text: <br />
    <input type="text" name="text" id="text"/>

    <button onclick="send()">Ok</button>


    <div id="message"></div>
    <div id="ps"></div>

<script>
    async function send(){

        const author = document.getElementById("author").value;
        const text = document.getElementById("text").value;

        const response = await fetch("/get-post", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    author: author,
                    text: text
                })
            });

        if (response.ok) {
                const data = await response.json();
                document.getElementById("message").textContent = data.message;
                document.getElementById("ps").textContent = data.ps;
            }
            else
                console.log(response);

    }


</script>

</body>
</html>