<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login-style.css">
    <title>Вход</title>
</head>
<body>

    <input type="text" id="email" placeholder="email">
    <input type="password" id="password" placeholder="password">

    <a href="#" class="forgot_password" onclick="forgotPassword()">
        Я забыл пароль, что теперь будет?
    </a>

    <button onclick="send()">Войти</button>
    <button class="regButton" onclick="redirectToRegistration()">Зарегистрироваться</button>

<script>

    async function forgotPassword(){
        alert("Ну забыл и забыл, что поделаешь");
    }

    async function redirectToRegistration(){
        document.location.href = "/user/registration";
    }


    async function send(){

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

            const response = await fetch("/user/authorize-user", {
                method: "POST",
                headers: {"Accept": "application/json", "Content-Type": "application/json"},
                body: JSON.stringify({
                    email: email,
                    password: password
                })
            })
            document.location.href = '/user/me'
                
        }

</script>

</body>
</html>
